<h1> Edit Historical Figure </h1>
<h2><%= @figure.name %></h2>


<form method="POST" action="/figures/<%= @figure.id %>">
<input id="hidden" type="hidden" name="_method" value="patch">

Name: <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"><br><br>

Titles: <br>
<% @titles.each do |title| %>
<input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>><%= title.name %><br>
<% end %>
<br>

Create New Title:
<input type="text" name="title[name]" id="new_title"> <br><br>

Landmarks: <br>
<% @landmarks.each do |landmark| %>
<input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %><br>
<% end %>
<br>

Create New Landmark: <br>
Name: <input type="text" name="landmark[name]" id="new_landmark">
Year Completed: <input type="text" name="landmark[year_completed]">

<br><br>
<input type="submit" value="Edit Figure">
</form>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>